* {
  box-sizing: border-box;
  outline: none;
}
*:before, *:after {
  box-sizing: border-box;
  outline: none;
}

html, body {
  min-height: 100%;
  overflow-wrap: break-word;
  font-size: 18px;
  line-height: 1.8;
  font-weight: normal;
  font-style: normal;
}

img, object, embed, video {
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
  text-align: center;
  max-width: 100%;
  height: auto;
}

a img {
  border: none;
  outline: none;
}

svg:not(:root) {
  overflow: hidden;
}

h1 a, h2 a, h3 a, h4 a, h5 a, li a {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  outline: none;
}

input, button, textarea, a:visited, input:visited, button:visited, textarea:visited, a:focus-within, input:focus-within, button:focus-within, textarea:focus-within, a:hover, input:hover, button:hover, textarea:hover, a:focus, input:focus, button:focus, textarea:focus, a:active, input:active, button:active, textarea:active {
  border-radius: 0;
  outline: none;
}

input[type=textarea], input[type=button], input[type=search], input[type=textfield] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.w3-ul li, nav.action-links li {
  border: none;
  border-width: 0 !important;
}