*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html,
body,
button,
input,
select,
optgroup,
textarea {
  color: #2B2B2B;
}

.fa,
.svg-inline--fa {
  color: inherit;
}

#header,
#copyright,
.close-nav,
.mobile-nav,
#page-title,
#highlighted,
.page-wrapper,
#footer-menu,
#top-container,
#main-container,
#bottom-container,
#footer-container,
.search-slide-wrapper,
.main-navigation-wrapper,
#top-container .top-box > div,
#footer-container .footer-box > div,
#bottom-container-inner .bottom-box > div {
  background-color: white;
  color: darkolivegreen;
}

* {
  font-family: franklin-gothic-urw, Arial, Helvetica, sans-serif !important;
}

html,
body {
  font-size: 17px !important;
}

p {
  font-size: 1rem;
  font-weight: 400;
  padding-block-end: 1rem;
}

h1,
.h1 {
  font-size: 2.488rem !important;
  font-weight: 700 !important;
}

h2,
.h2 {
  font-size: 2.074rem !important;
  font-weight: 700 !important;
}

h3,
.h3 {
  font-size: 1.728rem !important;
  font-weight: 700 !important;
}

h4,
.h4 {
  font-size: 1.44rem !important;
  font-weight: 700 !important;
}

h5,
.h5 {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

h6,
.h6 {
  font-size: 1rem !important;
  font-weight: 700 !important;
}

* {
  color: #4F4F4F !important;
}

a,
ul li a {
  text-decoration: underline !important;
}
a:hover, a:active, a:focus,
ul li a:hover,
ul li a:active,
ul li a:focus {
  text-decoration: none !important;
}

.w3-border {
  border: 1px solid orange !important;
}

.w3-hover-over:hover,
.w3-button:hover {
  color: #2B2B2B !important;
  background-color: #fff !important;
}

#header {
  background-color: #ffffff !important;
  border-bottom: 5px solid #232D4B;
}
#header .header-inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}
#header .utility-nav {
  align-self: flex-end;
}
#header .utility-nav ul li:last-child {
  display: flex;
}
#header .utility-nav ul li:last-child a {
  padding-left: 0.35em;
}
#header .utility-nav ul li:last-child::before {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-top: 0.75em;
  content: url(../assets/svg-icons/bell.svg);
}
#header .main-nav {
  font-weight: 500;
}
#header .main-nav ul li {
  background-color: white;
}
#header .main-nav ul li a:hover {
  background-color: #DADADA;
}
#header .main-nav ul li[class~=li-parent] a {
  text-decoration: none !important;
}
#header .main-nav ul ul[class~=ul-child] li a {
  text-decoration: underline !important;
}
#header .main-nav ul ul[class~=ul-child] li a:hover {
  text-decoration: none !important;
}
#header .drupal-utility-nav ul li {
  background-color: #25CAD3;
  color: black;
}
#header .w3-button:hover {
  color: #2B2B2B !important;
  background-color: #fff !important;
}

#block-uvalibrary-branding {
  margin-top: -40px;
}

a.site-logo {
  text-decoration: none !important;
}
a.site-logo img {
  max-width: 225px;
}