@use '../../mixins/index'as *;
@use '../../base/index'as *;

.library-help {

  .two-col {
    margin-top: 0;
    margin-bottom: 2rem;
    h3 {
      @include h5;
      margin-top: 1rem;
    }
    ul {
      margin-top: 0;
      margin-bottom: 2rem;
    }
  }
  .three-col {
    display: grid;

    grid-template-rows: 1fr;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .hover-block {
      text-align: center;
      border: 1px solid $uva-grey-100;
      h3 {
        @include h5;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }

  .s-consult-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;

    .s-consult-block {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      width: 330px;
      h3 {
        @include h5;
        margin-top: 1.5rem;
      }
      img {
        height: 186px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: #{$tablet-min}) {
    .three-col {
      grid-template-columns: 1fr !important;
    }
    .s-consult {
      margin-bottom: 2rem !important;
    }
    .two-col {
      ul {
        margin: 0;
      }
      ul:last-child {
        margin-top: -2rem;
      }
    }
  }
}