@use '../../mixins/index'as *;
@use '../../base/index'as *;

.library-help {
  .hover-block {
    text-align: center;
    background-color: #fff;
    border: 1px solid $uva-grey-100;
    border-top: 0.25rem solid $uva-brand-orange;

    &:hover,
    &:focus {
      transition: 0.25s ease-in-out;
      box-shadow: 0 0 20px 0 $uva-grey-100;
      z-index: 2;
    }
  }
  .two-col, .three-col {
    margin-top: 3rem;
    margin-bottom: 3rem;
    gap: 3rem;
  }
  .three-col {
    grid-template-rows: 12rem;
  }
  #block-title, h3 {
    @include h4;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  // h3 + ul, h3 + p {
  //   margin-bottom: 2rem;
  // }
  .s-consult-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
    padding: 2rem;

    .s-consult-block {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      width: 20rem;
      h3 {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
      img {
        height: 15rem;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  @media (max-width:992px) {
    .s-consult {
      margin-bottom: 2rem !important;
    }
    .two-col {
      ul {
        margin: 0;
      }
      ul:last-child {
        margin-top: -2rem;
      }
    }
  }
}