@use '../../mixins/index'as *;
@use '../../base/index'as *;

.uvalibrary-spaces{
  .header-image {
    img {
      margin: 1rem 0;
      width: 100%;
    }
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
  h2:last-of-type {
    margin-top: 3rem;
  }
  .rerserve-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100% auto;
    align-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 3rem;

    .reserve-location {
      order: 0;
      flex: 0 1 auto;
      align-self: auto;
      width: 330px;

      h3 {
        @extend .h5;
        margin-top: 1.5rem;
        margin-bottom: 0;
      }

      img {
        height: 186px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}), (max-width: #{$mobile}) {
    .rerserve-container{
      display: block;
      
      h3 {
        margin: 0;
      }

      img {
        margin: 2rem 0;
        height: auto;
      }

      .reserve-location {
        width: auto;
        height: auto;
      }
    }
  }  
}