{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0, menu_name) }}
{% macro menu_links(items, attributes, menu_level, menu_name) %}
	{% import _self as menus %}
	{%
    set menu_classes = [
      'ul-' ~ menu_name|clean_class,
  ]
  %}
	{%
    set submenu_classes = [
    'foo' ~ menu_name|clean_class,
  ]
  %}
	{% if items %}
		{% if menu_level == 0 %}
			<ul foo="MAIN" role="menubar" aria-label="functions" id="uvalibrary-nav">
			{% else %}
				<ul role="menu" foo="SUB">
				{% endif %}
				{% for item in items %}
					{% if menu_level == 0 and item.is_expanded %}
						<li foo="PARENT" role="menuitem" aria-haspopup="true">
							<span>{{ item.title }}
							</span>
						{% else %}
							{%
                    set link_classes = [
                    'link-' ~ menu_name|clean_class,
                  ]
                  %}
							<li role="menuitem" foo="SUB">
								{{
                      link(
                        item.title,
                        item.url,
                        item.attributes.removeClass(item_classes).addClass(link_classes),
                    )
                    }}
							{% endif %}
							{# THESE ARE WHERE THE SUB-MENUS GET PULLED IN #}
							{% if item.below %}
								{{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }}
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endmacro %}
