@use '../../mixins/index'as *;
@use '../../base/index'as *;

.about-uva-library {
  .top-section {
    // display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;

    // .profileImage img {
    //   border-radius: 50%;
    // } new design ditched library profile image
    // we will leave this blank until we have a new photo
    .top-body {}
  }

  .about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 3rem 0 3rem 0;

    .about-card {
      display: flex;
      flex-direction: column;   
      outline: 1px solid $uva-grey-100;

      .header {
        border-bottom: 4px solid $uva-brand-orange;
        width: 100%;
        // max-width: 1600px;
        display: cover;
      }

      .about-card--details {
        margin: 2rem 2rem;
      }
    }
    .happenings, .news,.exhibitions {
        border-top: 4px solid $uva-brand-orange;
    }
  }

  .visit-grid {
    margin: 0 0 3rem 0;

    .exhibitions {
      img {
      padding: 1rem 0;
      }
    }

    .visit-container {
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      justify-content: space-around;
      align-content: flex-start;
      align-items: stretch;
      gap: 2rem;
      margin: 2rem 0;

        .hover-block {
          display: flex;
          flex-wrap: wrap;
          align-content: space-around;
          border: 1px solid $uva-grey-100;
          margin: 0;

          p {
            text-align: center;
            @extend h5;
            padding-block-end: 0;
          }
        }
      } 
    }


  .fact-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
    gap: 2rem;
    margin-top: 3rem;

    div:nth-child(even) {
    outline: 3px solid $uva-brand-orange;
    // background-color: $uva-red-100;
    }

    > div {
      width: 10rem;
      height: 9rem;
    }

    .fact-card {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: center;
      outline: 3px solid $uva-brand-blue;
    }

    .fact-card--details {
      padding: 1rem;

      dd {
        @extend h4;
        font-weight: map-get($font-weights, demi);
        text-align: center;
      }

      dt {
        @extend p;
        text-align: center;
        padding: 0;
      }
    }
  }
  .image-divider {
    // width: 100vw;
    max-width: 1600px;
    display: block;
    margin: 3rem 0;
  }

  //tablet view
  @media screen and (max-width: #{$tablet}){
    .about-grid {
      margin: 2rem 1rem;
      gap: 1.5rem;

      .about-card {
        .about-card--details {
        margin: 2rem 1.5rem;
        }
      }

      .header {
      margin-inline-start: 50%;
      transform: translateX(-50%);
      }

      h2 {
        font-size: 1.728rem !important;
        font-weight: map-get($font-weights, demi);
      }
    }

    .visit-grid {
      .exhibitions {
        img {
        padding: 0.5rem 0;
        }
      }
    }  
  }
  
  //mobile view
  @media screen and (max-width: #{$mobile}){ 
    //about card re-layout 
    .about-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      margin: 1rem;
    }

    .visit-container {
      .hover-block {
        width: 20rem;
        text-align: center;
        justify-content: center;
        margin: 0 1rem;
      }
    }

    .image-divider {
      width: 100vw;
      // max-width: 1600px;
      margin-inline-start: 50%;
      transform: translateX(-50%);

        img {
          min-height: 170px;
          object-fit: cover;
        }
    }
  }
}
