@use '../../mixins/index'as *;
@use '../../base/index'as *;

.about-uva-library {
  .top-section {
    // display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2rem;

    // .profileImage img {
    //   border-radius: 50%;
    // } new design ditched library profile image
    // we will leave this blank until we have a good photo
    .top-body {}
  }

  .about-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 3rem 0 3rem 0;

    .about-card {
      display: flex;
      flex-direction: column;   
      outline: 1px solid $uva-grey-100;

      .header {
        border-bottom: 4px solid $uva-brand-orange;
        width: 100%;
      }

      .about-card--details {
        margin: 2rem 2rem;
      }
    }
  }

  .visit-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 0 3rem 0;
    border-top: 4px solid $uva-brand-orange;
    outline: 2px solid $uva-grey-200;

    .hour {
      margin: 3rem 2rem;
    }
    .happening, .exhibitions {
      margin: 4rem 2rem;

      img {
        margin: 1rem 0;
      }
    }
  }

  .fact-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
    gap: 2rem;
    margin-top: 3rem;
    min-height: 8rem;

    div:nth-child(even) {
    outline: 3px solid $uva-brand-orange;
    // background-color: $uva-red-100;
    }

    > div {
      width: 10rem;
      height: 9rem;
    }

    .fact-card {
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: center;
      outline: 3px solid $uva-brand-blue;
    }

    .fact-card--details {
      padding: 1rem;

      dd {
        @extend h3;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem;
      }

      dt {
        @extend h5;
        text-align: center;
      }
    }
  }
  .image-divider {
    // width: 100vw;
    max-width: 1600px;
    display: block;
    margin: 3rem 0;
  }
  
  @media (max-width:992px) { 
    //about card re-layout 
    .about-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
      }

    //visit card stacking
    .visit-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0;


      .hour, .happening, .exhibitions {
        margin: 2rem;
      }
    }


    .image-divider {
      width: 100vw;
      // max-width: 1600px;
      margin-inline-start: 50%;
      transform: translateX(-50%);

        img {
          min-height: 170px;
          object-fit: cover;
        }
    }
  }
}  