@use '../../mixins/index'as *;
@use '../../base/index'as *;

.library-hours {
  .three-col {
    margin-top: 2rem;
    margin-bottom: 2rem;
    .hover-block {
      border-left: 1px solid $uva-grey-100;
      text-align: center;
       h3 { @extend .h5; }
    }
  }
  .toggle-header {
    display: flex;
    align-items: center;
    gap: 2rem;

    .hr--custom {
      width: 100%;
    }
  }

  .uva-library--hours, .uva-library--locations {
    margin: 2rem 0;
  }

// Locations
// .grid-view
 .uva-library--locations {
  .views-field-nothing {
    width: 100%;
  }
  .views-element-container {
    margin-bottom: 4rem;
  }
  .view-content {
    display: grid;
    gap: 2rem 3rem;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    margin-top: 2rem;

    .views-row {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      // align-items: flex-start;
      align-items: stretch;
      gap: 0.5rem;

      // &:hover {
      //   transition: 0.25s ease-in-out;
      //   box-shadow: 0 0 20px 0 $uva-grey-100;
      //   z-index: 2;
      //   outline: $uva-grey-100;
      // }

      & > div {
        padding: 0 0.5rem;
        &:first-child {
          padding: 0;
        }
      }

      .views-field-field-main-image { 
        width: 100%;
        max-height: 16rem;
        overflow: hidden;

        img {
          object-fit: cover;
        }
      }

      h2 {
        @extend .h3;
        margin-top: 1rem;
        margin-bottom: 0.25rem;
      }
      .views-field-field-body {
        margin-top: 1.5rem;
      }
      .views-field-field-email-address span,
      .views-field-field-phone-number span {
        font-weight: map-get($font-weights, medium);
      }
    }
  }
 }

  // LIBRARY HOURS
  // .list-view
  .uva-library--hours {
    h2 {
      margin-bottom: 3rem;
    }
    span > h2 {
        margin-bottom: initial;
      }
    .location-head {
      margin-top: 3rem;
    }

    .location--hours--single {
      .views-field {
        margin: 1rem 0;
      }
    }
    .location--hours--table {
      display: block;
      margin-top: 3rem;
    }

    .weekly-hours-header-section {
      align-items: center;
      margin-bottom: 3rem;
      .heading-h2 {
        @extend h4;
      }
    }
    .hr--custom {
      margin: 4rem 0;
    }

    table {
      width: 100%;
      table-layout: fixed;
      thead {
        background-color: $uva-grey-200;
        th {
          padding: 0.5rem;
          font-weight: map-get($font-weights, medium);
        }
      }
      tbody {
        tr {
          th {
            font-weight: map-get($font-weights, book);
            height: 4rem;
            text-align: left;
            padding-left: 0.76rem;
          }
        }
      }
      tr { 
        td {
          text-align: center;
          padding-left: 10px;
        }
      }
    }

    .location-column {
      width: 16rem;
    }
   }
  td .date--mobile {
    display: none;
  }
  th.today {
    border-top: 2px solid $uva-brand-orange;
  }
  tr>*.today {
    border-left: 2px solid $uva-brand-orange;
    border-right: 2px solid $uva-brand-orange;
  }
  tr:last-of-type>*.today {
    border-bottom: 2px solid $uva-brand-orange;
  }
  tr:last-of-type>th.today {
    border-bottom: 0;
  }

  
 
   @media screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
    // td.date--mobile {
    //   display: inherit;
    // }
    table {
      display: block;

      thead {
        display: none;
      }
      tbody {
        display: block;
      }
      tr {
        display: flex;
        flex-direction: column;
        border-bottom: 0;
      }
      th {
        text-align: left !important;
        background-color: $uva-grey-200;
        height: 3rem !important;
        padding: 0.76rem;
        margin-top: 2rem;
      }
      tr:first-of-type th {
        margin-top: 0;
      }
      td {
        text-align: left !important;
        // display: inline-flex;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 1rem;
        margin: 0.25rem 0.76rem;
        .date--mobile {
          display: grid;
          grid-template-columns: 2.25rem 1fr;
          gap: 1rem;
          margin-right: 1rem;
        }
      }
      td.today {
        // border: 2px solid $uva-brand-orange;
        outline: 2px solid $uva-brand-orange;
                font-weight: map-get($font-weights, medium) !important;

      }

      tr>*.today {
        border-left: 0;
        border-right: 0;
      }

      tr:last-of-type>*.today {
        border-bottom: 0;
      }

      // tr:last-of-type>th.today {
      //   border-bottom: 0;
      // }


    }
 }
}
