@use '../../mixins/index' as *;
@use '../../base/index' as *;

.oerpage { 
  // margin: 0 2rem 0 2rem; -- ideally we should leave some margin for reading

  .oer-intro {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 4rem;
    margin-right: 10vw;
    margin-top: 1rem;

    .oer-intro-content {
      // outline: 1px solid white;
      // padding: 1rem;
      // clear: both;
      // outline-offset: -1rem;
      // background-color: $uva-brand-orange;

      p {
        // padding: 2rem;
        vertical-align: middle;
      }
    }
  }

// why does it matter?
  .oer-matter {
    margin: 4rem 15vw 0 0;
    
    .accordion {
      width: 80%;
    }
  }

  // how can we help?
  .oer-help {
    .oer-help-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3rem;
      margin: 3rem 0 4rem 0;

      .oer-consultation, .oer-learning, .oer-publish {
        background-color: white;
        border: 1px solid $uva-grey-100;
        border-top: 0.25rem solid $uva-brand-orange;
        padding: 2rem;
        
        h3 {
          margin-top: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }

  // Getting started with Open Educational Resources
    .start-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 2rem 0;

    h3 {
      margin-top: 2rem;
    }
  }

  //testimony
    .oer-impacts {
      .impacts-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4rem;
        grid-row-gap: 3rem;
        margin-top: 2rem;

        .impacts-content-left {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          // outline: 2px dotted $uva-brand-orange;
          border: $uva-grey-100 1px solid;
          border-left: 0.25rem solid $uva-brand-orange;

          p {
            padding: 2rem 3rem;
          }

          .quote-content-left {
            grid-area: 1 / 2 / 2 / 6; 
          }

          .quote-icon-left {
            grid-area: 1 / 1 / 2 / 2;
            position:relative;

            svg {
              width: 6rem;
              height: 7rem;
              fill: $uva-brand-blue-200;
              opacity: 80%;
              justify-content: right;
              display: block;
              margin-left: 2rem;
              // transform: rotate(90deg);
              // transform: scaleX(-1);
            }
          }
        }              

        .impacts-content-right {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          // outline: 2px dotted $uva-brand-orange;
          border: $uva-grey-100 1px solid;             
          border-left: 0.25rem solid $uva-brand-orange;

          p {
            padding: 2rem 3rem;
          }

          .quote-content-right {
            grid-area: 1 / 1 / 2 / 5; 
          }

          .quote-icon-right {
            grid-area: 1 / 5 / 2 / 6;
            position:relative;

            svg {
              width: 6rem;
              height: 7rem;
              fill: $uva-brand-orange-100;
              opacity: 100%;
              align-content: end;
              margin-right: 2rem;
              display: block;
              justify-content: center;
            }
          }
        }    
      }
    }

  //tablet view
  @media screen and (max-width: #{$tablet-max}){
    .oer-intro {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-right: 0;

      .oer-intro-content {
      outline: none;
      padding: 1rem;
      background-color: white;
      width: 100%;

        p {
          padding: 0;
        }
      }
    }

    .oer-matter {  
      margin: 4rem 0 0 0;
      .accordion {
        width: 100%;
        }
    }

    .oer-impacts {
      .impacts-body {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;

        .impacts-content-left {
          p {
            padding: 3rem 2rem;
          }
          .quote-icon-left {
            svg {
              // width: 5rem;
              height: 5rem;
            }
          }
        }

       .impacts-content-right {
          p {
            padding: 3rem 2rem;
          }
          .quote-icon-right {
            svg {
              // width: 5rem;
              height: 5rem;
            }
          }
        }
      }  
    }
  }

  //mobile view
  @media screen and (max-width: #{$mobile}){
    .oer-help {
      .oer-help-grid {
      display: grid;
      gap: 3rem;
      grid-template-columns: 1fr;
      margin-top: 3rem;
      } 
    }

    .start-grid {
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;

      h3 {
        margin: 1rem 0 0 0;
      }

      p {
        padding-top: 1rem;
      }
    }
  }
}