@use '../../mixins/index'as *;
@use '../../base/index'as *;

.status-dashboard {

  .s-jump {
    margin-bottom: 2rem;
  }
  .s-data {
    display: grid;
    grid-template-rows: 1fr;
  }

  h2 {
    margin-bottom: 1rem;
  }
  .s-row {
    display: grid;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    border-top: 1px solid $uva-grey-200;
    &:last-child {
      border-bottom: 1px solid $uva-grey-200;
      margin-bottom: 2rem;
    }
    &> p,
    &> div {
      padding: 1rem !important;
      border-left: 1px solid $uva-grey-200;
    }

    p {
      padding: .25em;
      margin: 0;
      &:last-child {
        text-align: center;
      }
      &.service-title {
        font-weight: bold;
      }
    }
    div {
      &.service-status {
        &.s-available {
          border-right: 5px solid $uva-teal;
        
          .svg--available {
            text-align: center;
            svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: $uva-teal;
            }
          }

          .svg--modified,
          .svg--not-available {
            display: none;
          }
        }
      }
      &.service-status {
        &.s-modified {
          border-right: 5px solid $uva-yellow;

          .svg--modified {
            text-align: center;
            svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: $uva-yellow;
            }
          }
          .svg--available,
          .svg--not-available {
            display: none;
          }
        }
      }
      &.service-status {
        &.s-not-available {
          border-right: 5px solid $uva-red-B;
          .svg--not-available {
            text-align: center;
            svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: $uva-red-B;
            }
          }
          .svg--available,
          .svg--modified {
            display: none;
          }
        }
      }
      p {
        font-weight: bold;
      }
    }
  }
  @media (max-width:992px) {
    .s-row {
      grid-template-columns: 1fr !important;

      div {
        &.service-status {
          &.s-available {
            border: 5px solid $uva-teal !important;
          }

          &.s-modified {
            border: 5px solid $uva-yellow !important;
          }

          &.s-not-available {
            border: 5px solid $uva-red-B !important;
          }
        }
      }
    }
  }
  // sitewide alert section 
  .uva-alert--status {
    .alert1 p,
    .alert2 p,
    .alert3 p {
        margin-top: -1.25rem;
    }
    button {
      display: none;
    }
    .alert2,
    .alert3 {
      display: inherit;
    }
    .status-until {
      padding: 0 0 1rem 3rem;
      font-style: italic;
    }
  }
}
