@use '../../abstracts/index'as *;
@use '../../base/index'as *;

/// NOTE - THE WAY DRUPAL CLASSES HAVE BEEN APPLIED,
/// THE STAFF DIRECTORY HAS BOTH "STAFF-DIRECTORY" AND
/// "STAFF-BIO" CLASSES. THE STAFF BIO PAGES, ONLY HAVE
/// THE "STAFF-BIO" CLASS.
/// 
/// CLASSES APPLIED TO STAFF-BIO MAY NEED TO BE CLEARED
/// OUT IN "STAFF DIRECTORY", THEREFORE IT SHOULD APPEAR
/// FIRST IN THE ORDER.

.staff-bio {
  .field--name-field-uva-ldap-title {
    @extend .h3;
    margin: .5rem 0;

    .field__item:last-child {
      @extend .h5;
    }
  }
  
  .field--name-field-uva-ldap-phone,
  .field--type-telephone,
  .field--name-field-uva-ldap-email,
  .field--type-email {
    margin: 1rem 0;
  }


  .layout__region--second {
    h2 {
      @extend .h3;
    }

    section {
      margin-top: 2rem;

      &:first-child {
        margin-top: 0;
      }

      .field--name-field-professional-profile {
        p {
          padding-bottom: 0.25rem;
        }
      }
    }
  }
}

.staff-directory {
  .staff-search-bar {
    margin: 4rem 0;
    @include virgo-search;
    position: inherit;
    top: inherit;
    left: inherit;
    transform: inherit;
    text-align: inherit;
    margin-bottom: 3rem;
  }

  tr {
    td {
      padding: 0.5rem;

      &:nth-child(n+3) {
        text-align: center;
      }
    }
  }

}