@use '../mixins/index'as *;
@use '../base/index'as *;

.w3-border {
  border: 1px solid orange !important;
}

.uvalib-button {
  font-size: 1em;
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: .8em .4em;
  padding: .6rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  background-color: $uva-blue-alt;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  border-radius: 5px;

  &:visited {
    color: #fff;
  }
}

a.uvalib_link--button {
  display: inline-block;
  margin: .5em;
  padding: .88em;
  background-color: $uva-blue-alt;
  border-radius: 5px;
  text-decoration: underline;
  color: #fff;
}

.uvalib-button:hover,
.uvalib-button.uvalib-button--hover,
a.uvalib_link--button:hover,
a.uvalib_link--button.uvalib_link--button--hover {
  background-color: $uva-blue-alt-A;
}

a.uvalib_link--button:hover,
a.uvalib_link--button.uvalib_link--button--hover {
  text-decoration: none;
}

.uvalib-button:active,
.uvalib-button.uvalib-button--active,
a.uvalib_link--button:active,
a.uvalib_link--button--active {
  background-color: $uva-brand-blue;
}

.uvalib-button:not([disabled]):focus,
.uvalib-button:not([disabled]).uvalib-focus,
a.uvalib_link--button:not([disabled]):focus,
a.uvalib_link--button:not([disabled]).uvalib-focus {
  @include focus-dk;
}

.uvalib-button--inverse:not([disabled]):focus,
.uvalib-button--inverse:not([disabled]).uvalib-focus,
a.uvalib_link--button--inverse:not([disabled]):focus,
a.uvalib_link--button--inverse:not([disabled]).uvalib-focus {
  @include focus-lt;
}

a.uvalib_link--button i {
  padding: 2px 4px;
  text-decoration: none;
}

a.uvalib_link--button:hover i {
  text-decoration: underline;
}

/* Disabled Buttons */
.uvalib-button:disabled,
.uvalib-button.uvalib-button--subtle:disabled,
a.uvalib_link--button--disabled,
a.uvalib_link--button.uvalib_link--button--subtle.uvalib_link--button--disabled,
a.uvalib_link--button.uvalib_link--button--alt--disabled {
  background-color: $uva-grey-100;
  color: #fff;
  pointer-events: none;
  box-shadow: none;
}

/* Default Subtle Buttons & Link Buttons */
.uvalib-button--subtle,
a.uvalib_link--button.uvalib_link--button--subtle {
  background-color: $uva-blue-alt-300;
  color: $uva-grey-A;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
}

.uvalib-button--subtle:hover,
.uvalib-button--subtle.uvalib-button--hover,
a.uvalib_link--button.uvalib_link--button--subtle:hover,
a.uvalib_link--button.uvalib_link--button--subtle.uvalib_link--button--hover {
  background-color: $uva-blue-alt-200;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
}

.uvalib-button--subtle:active,
.uvalib-button--subtle.uvalib-button--active,
a.uvalib_link--button.uvalib_link--button--subtle:active,
a.uvalib_link--button.uvalib_link--button--subtle.uvalib_link--button--active {
  background-color: $uva-blue-alt-100;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
}

/* Default Basic Buttons */
.uvalib-button--basic,
a.uvalib_link--button.uvalib_link--button--basic {
  background-color: $uva-grey-100;
  color: $uva-grey-A;
  box-shadow: inset 0 0 0 2px $uva-grey;
}

.uvalib-button--basic:hover,
.uvalib-button--basic.uvalib-button--hover,
a.uvalib_link--button.uvalib_link--button--basic:hover,
a.uvalib_link--button.uvalib_link--button--basic.uvalib_link--button--hover {
  background-color: $uva-grey-200;
  box-shadow: inset 0 0 0 2px $uva-grey;
}

.uvalib-button--basic:active,
.uvalib-button--basic.uvalib-button--active,
a.uvalib_link--button.uvalib_link--button--basic:active,
a.uvalib_link--button.uvalib_link--button--basic.uvalib_link--button--active {
  background-color: $uva-grey-A;
  color: #fff;
  box-shadow: inset 0 0 0 2px $uva-grey-B;
}

/* Outline Buttons */
.uvalib-button--outline,
.uvalib_link--button--outline,
a.uvalib_link--button.uvalib_link--button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
  color: $uva-blue-alt;
}

.uvalib-button--outline.uvalib-button--hover,
.uvalib-button--outline:hover,
a.uvalib_link--button--outline.uvalib_link--button--hover,
a.uvalib_link--button--outline:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-blue-alt-A;
  color: $uva-blue-alt-A;
}

.uvalib-button--outline.uvalib-button--active,
.uvalib-button--outline:active,
a.uvalib_link--button--outline.uvalib_link--button--active,
a.uvalib_link--button--outline:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-brand-blue;
  color: $uva-brand-blue;
}

.uvalib-button--outline-disabled,
.uvalib-button--outline:disabled,
a.uvalib_link--button.uvalib_link--button--outline.uvalib_link--button--disabled,
a.uvalib_link--button--outline:disabled {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-grey-100;
  color: $uva-grey-100;
}

/* Outline Inverse Buttons */
.uvalib-button--outline.uvalib-button--inverse,
a.uvalib_link--button--outline.uvalib_link--button--inverse {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.uvalib_link--button--inverse {
  color: #fff;
}

.uvalib-button--outline.uvalib-button--inverse.uvalib-button--hover,
.uvalib-button--outline.uvalib-button--inverse:hover,
a.uvalib_link--button--outline.uvalib_link--button--inverse.uvalib_link--button--hover,
a.uvalib_link--button--outline.uvalib_link--button--inverse:hover {
  box-shadow: inset 0 0 0 2px $uva-grey-100;
  color: $uva-grey-100;
}

.uvalib-button--outline.uvalib-button--inverse.uvalib-button--active,
.uvalib-button--outline.uvalib-button--inverse:active,
a.uvalib_link--button--outline.uvalib_link--button--inverse.uvalib_link--button--active,
a.uvalib_link--button--outline.uvalib_link--button--inverse:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.uvalib-button--outline-disabled.uvalib-button--inverse,
.uvalib-button--outline:disabled.uvalib-button--inverse,
a.uvalib_link--button.uvalib_link--button--outline.uvalib_link--button--inverse--disabled,
a.uvalib_link--button--outline:disabled.uvalib_link--button--inverse {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-grey;
  color: $uva-grey;
}

/* Alternate Buttons */
.uvalib-button--alt,
.uvalib_link--button--alt,
a.uvalib_link--button.uvalib_link--button--alt {
  background-color: $uva-brand-orange;
  color: $uva-grey-B;
}

.uvalib-button--alt:hover,
.uvalib-button--alt.uvalib-button--hover,
a.uvalib_link--button--alt:hover,
a.uvalib_link--button--alt.uvalib_link--button--hover {
  background-color: $uva-brand-orange-A;
  color: #fff;
}

.uvalib-button--alt:active,
.uvalib-button--alt.uvalib-button--active,
a.uvalib_link--button--alt:active,
a.uvalib_link--button--alt.uvalib_link--button--active {
  background-color: $uva-brand-orange-B;
  color: #fff;
}

/* button sizes */
.uvalib-button--small,
.uvalib_link--button--small {
  border-radius: .25rem;
  font-size: .85rem;
  padding: .5rem 1rem;
}

.uvalib-button--large,
.uvalib_link--button--large {
  border-radius: .25rem;
  font-size: 1.33rem;
  padding: 1rem 1.5rem;
}

/* button icon positioning */
.uvalib-icon__left i {
  padding-right: .5rem;
}

.uvalib-icon__right i {
  padding-left: .5rem;
}

.uvalib-icon__notext {
  padding: .6rem 1rem;
}

/* buttons for mobile */
@media (min-width: 30em) {

  .uvalib-button,
  .uvalib_link--button {
    width: auto;
  }
}



// Toggle button
// .toggle-button {
//   position: relative;
//   display: inline-block;
//   width: 60px;
//   height: 34px;
//   background-color: $uva-grey-50;
//   border-radius: 34px;
//   transition: background-color .2s;
//   border: none;
// }

// .toggle-button::before {
//   content: "";
//   position: absolute;
//   width: 28px;
//   height: 28px;
//   border-radius: 50%;
//   background-color: white;
//   top: 3px;
//   left: 3px;
//   transition: transform .2s;
// }

// .toggle-button.active {
//   background-color: $uva-brand-orange;
//   margin-top: 1px;
// }

// .toggle-button.active::before {
//   transform: translateX(26px);
// }

// Appempt 2
// .toggle {
//   position: relative;
//   width: fit-content;
// }

// .toggle *,
// .toggle *:before,
// .toggle *:after {
//   box-sizing: border-box;
// }

// .toggle input[type=checkbox] {
//   opacity: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

// .toggle input[type=checkbox][disabled]~label {
//   pointer-events: none;
// }

// .toggle input[type=checkbox][disabled]~label .toggle__switch {
//   opacity: 0.4;
// }

// .toggle input[type=checkbox]:checked~label .toggle__switch:before {
//   content: attr(data-unchecked);
//   left: 0;
// }

// .toggle input[type=checkbox]:checked~label .toggle__switch:after {
//   content: attr(data-checked);
// }

// .toggle label {
//   user-select: none;
//   position: relative;
//   display: flex;
//   align-items: center;
// }

// .toggle label .toggle__label-text {
//   flex: 1;
//   padding-left: 32px;
// }

// .toggle label .toggle__switch {
//   position: relative;
// }

// .toggle label .toggle__switch:before {
//   content: attr(data-checked);
//   position: absolute;
//   top: 0;
//   // text-transform: uppercase;
//   text-align: center;
// }

// .toggle label .toggle__switch:after {
//   content: attr(data-unchecked);
//   position: absolute;
//   z-index: 5;
//   // text-transform: uppercase;
//   text-align: center;
//   //button at rest
//   background: blue;
//   transform: translate3d(0, 0, 0);
// }

// .toggle input[type=checkbox][disabled]~label {
//   color: rgba(211, 211, 211, 0.5);
// }

// .toggle input[type=checkbox]:focus~label .toggle__switch,
// .toggle input[type=checkbox]:hover~label .toggle__switch {
//   background-color: lightgrey;
// }

// .toggle input[type=checkbox]:focus~label .toggle__switch:after,
// .toggle input[type=checkbox]:hover~label .toggle__switch:after {
//   color: white;
//   background-color: blue;
// }

// .toggle input[type=checkbox]:hover~label {
//   color: #c6c6c6;
// }

// .toggle input[type=checkbox]:checked~label:hover {
//   color: #cbcbcb;
// }

// .toggle input[type=checkbox]:checked~label .toggle__switch {
//   background-color: #e0e0e0;
// }

// .toggle input[type=checkbox]:checked~label .toggle__switch:after {
//   color: #c6c6c6;
// }

// .toggle input[type=checkbox]:checked:focus~label .toggle__switch,
// .toggle input[type=checkbox]:checked:hover~label .toggle__switch {
//   background-color: lightgrey;
// }

// .toggle input[type=checkbox]:checked:focus~label .toggle__switch:after,
// .toggle input[type=checkbox]:checked:hover~label .toggle__switch:after {
//   color: white;
//   //location checked
// }

// .toggle input[type=checkbox]:checked::after {
//   display: inline-block;
//   width: 2rem;
//   height: 2rem;
//   content: $icon-warning;
//   margin: .55rem;
//   outline: 1px solid red;
// }

// .toggle label .toggle__label-text {
//   flex: 1;
// }

// .toggle label .toggle__switch {
//   transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
//   background: #e0e0e0;
// }

// .toggle label .toggle__switch:before {
//   color: #2b2b2b;
//   // unchecked
// }

// .toggle label .toggle__switch:after {
//   -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
//   transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
//   color: white;
//   font-weight: bold;
// }

// .toggle input[type=checkbox]:focus~label .toggle__switch:after,
// .toggle input[type=checkbox]:hover~label .toggle__switch:after {
//   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
// }

// .toggle input[type=checkbox]:checked~label .toggle__switch:after {
//   transform: translate3d(144px, 0, 0);

// }

// .toggle input[type=checkbox]:checked:focus~label .toggle__switch:after,
// .toggle input[type=checkbox]:checked:hover~label .toggle__switch:after {
//   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
// }

// .toggle label {
//   font-size: inherit;
// }

// .toggle label .toggle__switch {
//   height: 58px;
//   flex: 0 0 324px;
//   border-radius: 10px;
// }

// .toggle label .toggle__switch:before {
//   top: 10px;
//   left: 166px;
//   font-size: inherit;
//   line-height: 36px;
//   width: 150px;
//   padding: 0 12px;
// }

// .toggle label .toggle__switch:after {
//   top: 12px;
//   left: 12px;
//   border-radius: 10px;
//   width: 139px;
//   line-height: 33px;
//   font-size: inherit;
// }

// .toggle label .toggle__switch:hover:after {
//   box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
// }

// Attempt 3
   .large-3 {
     width: 25%
   }

   .switch-toggle.switch-candy,
   .switch-light.switch-candy>span {
     background-color: #2d3035;
     border-radius: 3px;
     box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
   }

   .switch-light.switch-candy span span,
   .switch-light.switch-candy input:checked~span span:first-child,
   .switch-toggle.switch-candy label {
     color: #fff;
     font-weight: bold;
     text-align: center;
     text-shadow: 1px 1px 1px #191b1e;
   }

   .switch-light.switch-candy input~span span:first-child,
   .switch-light.switch-candy input:checked~span span:nth-child(2),
   .switch-candy input:checked+label {
     color: #333;
     text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
   }

   .switch-candy a {
     border: 1px solid #333;
     border-radius: 3px;
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);
     background-color: #70c66b;
     background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
   }