@use '../mixins/index'as *;
@use '../base/index'as *;

.w3-border {
  border: 1px solid orange !important;
}

.uvalib-button {
  font-size: 1rem;
  appearance: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: .8rem .4rem;
  padding: .6rem 1.25rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  background-color: $uva-blue-alt;
  color: #fff;
  border-radius: 5px;
  // text-transform: uppercase;
  border-radius: 5px;
  font-weight: normal;

  &:visited {
    color: #fff;
  }
}

a.uvalib_link--button {
  display: inline-block;
  margin: .5rem;
  padding: .88rem;
  background-color: $uva-blue-alt;
  border-radius: 5px;
  text-decoration: underline;
  color: #fff;
}

.uvalib-button:hover,
.uvalib-button.uvalib-button--hover,
a.uvalib_link--button:hover,
a.uvalib_link--button.uvalib_link--button--hover {
  background-color: $uva-blue-alt-A;
}

a.uvalib_link--button:hover,
a.uvalib_link--button.uvalib_link--button--hover {
  text-decoration: none;
}

.uvalib-button:active,
.uvalib-button.uvalib-button--active,
a.uvalib_link--button:active,
a.uvalib_link--button--active {
  background-color: $uva-brand-blue;
}

.uvalib-button:not([disabled]):focus,
.uvalib-button:not([disabled]).uvalib-focus,
a.uvalib_link--button:not([disabled]):focus,
a.uvalib_link--button:not([disabled]).uvalib-focus {
  @include focus-dk;
}

.uvalib-button--inverse:not([disabled]):focus,
.uvalib-button--inverse:not([disabled]).uvalib-focus,
a.uvalib_link--button--inverse:not([disabled]):focus,
a.uvalib_link--button--inverse:not([disabled]).uvalib-focus {
  @include focus-lt;
}

a.uvalib_link--button i {
  padding: 2px 4px;
  text-decoration: none;
}

a.uvalib_link--button:hover i {
  text-decoration: underline;
}

/* Disabled Buttons */
.uvalib-button:disabled,
.uvalib-button.uvalib-button--subtle:disabled,
a.uvalib_link--button--disabled,
a.uvalib_link--button.uvalib_link--button--subtle.uvalib_link--button--disabled,
a.uvalib_link--button.uvalib_link--button--alt--disabled {
  background-color: $uva-grey-100;
  color: #fff;
  pointer-events: none;
  box-shadow: none;
}

/* Default Subtle Buttons & Link Buttons */
.uvalib-button--subtle,
a.uvalib_link--button.uvalib_link--button--subtle {
  background-color: $uva-blue-alt-300;
  color: $uva-grey-A;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
}

.uvalib-button--subtle:hover,
.uvalib-button--subtle.uvalib-button--hover,
a.uvalib_link--button.uvalib_link--button--subtle:hover,
a.uvalib_link--button.uvalib_link--button--subtle.uvalib_link--button--hover {
  background-color: $uva-blue-alt-200;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
}

.uvalib-button--subtle:active,
.uvalib-button--subtle.uvalib-button--active,
a.uvalib_link--button.uvalib_link--button--subtle:active,
a.uvalib_link--button.uvalib_link--button--subtle.uvalib_link--button--active {
  background-color: $uva-blue-alt-100;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
}

/* Default Basic Buttons */
.uvalib-button--basic,
a.uvalib_link--button.uvalib_link--button--basic {
  background-color: $uva-grey-100;
  color: $uva-grey-A;
  box-shadow: inset 0 0 0 2px $uva-grey;
}

.uvalib-button--basic:hover,
.uvalib-button--basic.uvalib-button--hover,
a.uvalib_link--button.uvalib_link--button--basic:hover,
a.uvalib_link--button.uvalib_link--button--basic.uvalib_link--button--hover {
  background-color: $uva-grey-200;
  box-shadow: inset 0 0 0 2px $uva-grey;
}

.uvalib-button--basic:active,
.uvalib-button--basic.uvalib-button--active,
a.uvalib_link--button.uvalib_link--button--basic:active,
a.uvalib_link--button.uvalib_link--button--basic.uvalib_link--button--active {
  background-color: $uva-grey-A;
  color: #fff;
  box-shadow: inset 0 0 0 2px $uva-grey-B;
}

/* Outline Buttons */
.uvalib-button--outline,
.uvalib_link--button--outline,
a.uvalib_link--button.uvalib_link--button--outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-blue-alt;
  color: $uva-blue-alt;
}

.uvalib-button--outline.uvalib-button--hover,
.uvalib-button--outline:hover,
a.uvalib_link--button--outline.uvalib_link--button--hover,
a.uvalib_link--button--outline:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-blue-alt-A;
  color: $uva-blue-alt-A;
}

.uvalib-button--outline.uvalib-button--active,
.uvalib-button--outline:active,
a.uvalib_link--button--outline.uvalib_link--button--active,
a.uvalib_link--button--outline:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-brand-blue;
  color: $uva-brand-blue;
}

.uvalib-button--outline-disabled,
.uvalib-button--outline:disabled,
a.uvalib_link--button.uvalib_link--button--outline.uvalib_link--button--disabled,
a.uvalib_link--button--outline:disabled {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-grey-100;
  color: $uva-grey-100;
}

/* Outline Inverse Buttons */
.uvalib-button--outline.uvalib-button--inverse,
a.uvalib_link--button--outline.uvalib_link--button--inverse {
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.uvalib_link--button--inverse {
  color: #fff;
}

.uvalib-button--outline.uvalib-button--inverse.uvalib-button--hover,
.uvalib-button--outline.uvalib-button--inverse:hover,
a.uvalib_link--button--outline.uvalib_link--button--inverse.uvalib_link--button--hover,
a.uvalib_link--button--outline.uvalib_link--button--inverse:hover {
  box-shadow: inset 0 0 0 2px $uva-grey-100;
  color: $uva-grey-100;
}

.uvalib-button--outline.uvalib-button--inverse.uvalib-button--active,
.uvalib-button--outline.uvalib-button--inverse:active,
a.uvalib_link--button--outline.uvalib_link--button--inverse.uvalib_link--button--active,
a.uvalib_link--button--outline.uvalib_link--button--inverse:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.uvalib-button--outline-disabled.uvalib-button--inverse,
.uvalib-button--outline:disabled.uvalib-button--inverse,
a.uvalib_link--button.uvalib_link--button--outline.uvalib_link--button--inverse--disabled,
a.uvalib_link--button--outline:disabled.uvalib_link--button--inverse {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $uva-grey;
  color: $uva-grey;
}

/* Alternate Buttons */
.uvalib-button--alt,
.uvalib_link--button--alt,
a.uvalib_link--button.uvalib_link--button--alt {
  background-color: $uva-brand-orange;
  color: $uva-grey-B;
}

.uvalib-button--alt:hover,
.uvalib-button--alt.uvalib-button--hover,
a.uvalib_link--button--alt:hover,
a.uvalib_link--button--alt.uvalib_link--button--hover {
  background-color: $uva-brand-orange-A;
  color: #fff;
}

.uvalib-button--alt:active,
.uvalib-button--alt.uvalib-button--active,
a.uvalib_link--button--alt:active,
a.uvalib_link--button--alt.uvalib_link--button--active {
  background-color: $uva-brand-orange-B;
  color: #fff;
}

/* button sizes */
.uvalib-button--small,
.uvalib_link--button--small {
  border-radius: .25rem;
  font-size: .85rem;
  padding: .5rem 1rem;
}

.uvalib-button--large,
.uvalib_link--button--large {
  border-radius: .25rem;
  font-size: 1.33rem;
  padding: 1rem 1.5rem;
}

/* button icon positioning */
.uvalib-icon__left i {
  padding-right: .5rem;
}

.uvalib-icon__right i {
  padding-left: .5rem;
}

.uvalib-icon__notext {
  padding: .6rem 1rem;
}

/* buttons for mobile */
@media (min-width: 30rem) {

  .uvalib-button,
  .uvalib_link--button {
    width: auto;
  }
}

// Toggle Switch
 $color_1: white;
 $color_2: $uva-text-color-dark;
 $background-color_1: $uva-grey-200;
 $background-color_2: $uva-blue-alt;

 /* Switch Sizes */
 svg {
   display: inline-block;
   width: 17px;
   height: 17px;
   position: relative;
   top: 4px;
   left: -5px;
 }

 .toggleSwitch {
   span {
     span {
       display: none;
     }
   }

   display: inline-block;
   position: relative;
   overflow: visible;
   padding: 0.3rem;
   cursor: pointer;
   width: 14.6rem;
   background-color: $background-color_1;
   border: 1px solid #ccc;
   border-radius: 10px;
  //  height: 2.59rem;
  height: 3rem;

   * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
   }

   label {
     line-height: 20px;
     height: 20px;
     vertical-align: middle;
     position: relative;
     z-index: 3;
     display: block;
     width: 100%;
   }

   >span {
     line-height: 20px;
     height: 20px;
     vertical-align: middle;
     position: absolute;
     left: 0;
     width: calc(100% - 6px);
     margin: 0;
     text-align: left;
     white-space: nowrap;
     margin: 0 3px;

     span {
       position: absolute;
      //  top: 0;
      //  left: 0;
       z-index: 5;
       display: block;
       width: 50%;
       margin-left: 50px;
       text-align: left;
      //  font-size: 0.9em;
       width: auto;
       left: 0;
      //  top: -1px;
      top: 1px;
       opacity: 1;
       width: 40%;
       text-align: center;
       line-height: 34px;

       &:first-of-type {
         color: $color_1;
         opacity: 1;
        //  left: 0;
        left: 10px;
         margin: 0;
         width: 50%;
         svg {
          fill: $color_1;
         }
       }

       &:last-of-type {
         left: auto;
         right: 0;
         color: $color_2;
         margin: 0;
         width: 50%;
         svg {
          fill: $color_2;
         }
       }
     }

     &:before {
       content: '';
       display: block;
       width: 100%;
       height: 100%;
       position: absolute;
       left: 0;
       top: -2px;
       border-radius: 30px;
       -webkit-transition: all 0.2s ease-out;
       -moz-transition: all 0.2s ease-out;
       transition: all 0.2s ease-out;
     }
   }

   input {
     &:focus~a {
       outline: none;
     }

     &:focus+label {
       outline: none;
     }

     position: absolute;
     opacity: 0;
     z-index: 5;

     &:checked~a {
       left: calc(50% - 3px);
     }

     &:checked~span {
       span {
         &:first-of-type {
           left: 0;
           color: $color_2;
           svg {
            fill: $color_2;
           }
         }

         &:last-of-type {
           color: $color_1;
           svg {
            fill: $color_1;
           }
         }
       }
     }
   }

   a {
     position: absolute;
     right: 50%;
     z-index: 4;
     display: block;
    //  top: 3px;
    //  bottom: 3px;
    top: 10px;
    bottom: 10px;
     padding: 0;
    //  left: 3px;
    left: 10px;
    //  width: 50%;
    width: 48%;
     background-color: $background-color_2;
     border-radius: 10px;
     -webkit-transition: all 0.2s ease-out;
     -moz-transition: all 0.2s ease-out;
     transition: all 0.2s ease-out;
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     &:focus {
      outline-offset: 3px;
     }
   }

 }

 .toggleSwitch.large {
   width: 60px;
   height: 27px;

   a {
     width: 27px;
   }

   >span {
     height: 29px;
     line-height: 28px;

     span {
       font-size: 1.1rem;

       &:first-of-type {
         left: 50%;
       }
     }
   }

   input {
     &:checked~a {
       left: 41px;
     }
   }
 }

 .toggleSwitch.xlarge {
   width: 80px;
   height: 36px;

   a {
     width: 36px;
   }

   >span {
     height: 38px;
     line-height: 37px;

     span {
       font-size: 1.4rem;

       &:first-of-type {
         left: 50%;
       }
     }
   }

   input {
     &:checked~a {
       left: 52px;
     }
   }
 }
// End Toggle Switch 
