@use '../abstracts/index'as *;
@use '../base/index'as *;

.hover-block {
  background-color: $uva-grey-200;
  padding: 1rem;

  a {
    text-decoration: none;
  }

  p {
    color: $uva-text-color-dark;
  }

  &:hover,
  &:focus {
    // border-top: 0.5rem solid $uva-blue-alt;
    text-decoration: underline;
    // padding-top: .5rem;

    p {
      text-decoration: none !important;
    }
  }
}
