@use '../base/index'as *;

.site-sidebar--subnav {
  h4:first-of-type {
    margin-top: 0;
  }
  nav {
    ul {
      padding-left: 0;
      list-style-type: none;

      li { 
        @extend h5;
        
        ul {
          padding: 1rem 0;
          margin: 0;
          li {
            font-size: 1rem !important;
            font-weight: normal;
            padding: 0.5rem 1rem;
            border-left: 2px solid #{$uva-brand-orange};
            outline: inherit;
            margin: 0 !important;
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// .site-sidebar--sidebar {
//  margin-top: 1rem;
// }
