// $breakpoints: (
//   'small':  ( min-width: 40em ),
//   'medium': ( min-width: 65em ),
//   'large':  ( min-width: 106em ),
// ) !default;

// Breakpoints

$desktop: 1024px;
$tablet: 1023px;
$mobile: 767px;