@use "typography" as *;

dl {
	&.dl--inline {
		dt {
			font-weight: map-get($font-weights, demi);
			// font-weight: 700;
		}

		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
	}
}

.list--simple {
	padding-left: 0;
	li {
		font-size: 1em;
		list-style-type: none;
		line-height: 1.5;
		text-indent: 0;
	}
}

dt {
	font-weight: map-get($font-weights, demi);
	// font-weight: 700;
}

.dl--stacked {
	dd {
		margin-inline-start: inherit;
		margin-bottom: 0.25rem;
	}
}

dl {
	&.dl--inline {
		display: flex;
		flex-flow: row wrap;
	}
}

.dl--inline {
	dt {
		flex-basis: 20%;
		padding: 2px 4px;
		text-align: right;
	}

	dd {
		flex-basis: 70%;
		flex-grow: 1;
		margin: 0;
		padding: 2px 4px;
	}
}
