.margin-zero {
  margin: 0 !important;
}

.margin-zero--top {
  margin-top: 0 !important;
}

.margin-zero--bottom {
  margin-bottom: 0 !important;
}

.margin-zero--left {
  margin-left: 0 !important;
}

.margin-zero--right {
  margin-right: 0 !important;
}

.margin-1rem {
  margin: 1rem !important;
}

.margin-1rem--top {
  margin-top: 1rem !important;
}

.margin-1rem--bottom {
  margin-bottom: 1rem !important;
}

.margin-1rem--left {
  margin-left: 1rem !important;
}

.margin-1rem--right {
  margin-right: 1rem !important;
}

.margin-2rem {
  margin: 2rem !important;
}

.margin-2rem--top {
  margin-top: 2rem !important;
}

.margin-2rem--bottom {
  margin-bottom: 2rem !important;
}

.margin-2rem--left {
  margin-left: 2rem !important;
}

.margin-2rem--right {
  margin-right: 2rem !important;
}

.margin-3rem {
  margin: 3rem !important;
}

.margin-3rem--top {
  margin-top: 3rem !important;
}

.margin-3rem--bottom {
  margin-bottom: 3rem !important;
}

.margin-3rem--left {
  margin-left: 3rem !important;
}

.margin-3rem--right {
  margin-right: 3rem !important;
}

.padding-zero {
  padding: 0 !important;
}

.padding-zero--top {
  padding-top: 0 !important;
}

.padding-zero--bottom {
  padding-bottom: 0 !important;
}

.padding-zero--left {
  padding-left: 0 !important;
}

.padding-zero--right {
  padding-right: 0 !important;
}

.padding-1rem {
  padding: 1rem !important;
}

.padding-1rem--top {
  padding-top: 1rem !important;
}

.padding-1rem--bottom {
  padding-bottom: 1rem !important;
}

.padding-1rem--left {
  padding-left: 1rem !important;
}

.padding-1rem--right {
  padding-right: 1rem !important;
}

.padding-2rem {
  padding: 2rem !important;
}

.padding-2rem--top {
  padding-top: 2rem !important;
}

.padding-2rem--bottom {
  padding-bottom: 2rem !important;
}

.padding-2rem--left {
  padding-left: 2rem !important;
}

.padding-2rem--right {
  padding-right: 2rem !important;
}

.padding-3rem {
  padding: 3rem !important;
}

.padding-3rem--top {
  padding-top: 3rem !important;
}

.padding-3rem--bottom {
  padding-bottom: 3rem !important;
}

.padding-3rem--left {
  padding-left: 3rem !important;
}

.padding-3rem--right {
  padding-right: 3rem !important;
}