// $headings: (
//   5: 3.052em,
//   4: 2.441em,
//   3: 1.953em,
//   2: 1.563em,
//   1: 1.25em,
//   0: 1em,
//   -1: 0.8em,
//   -2: 0.64em,
//   -3: 0.512em
// );

// my stab at font sizes
$type-scale: (
    6: 1rem,
    5: 1.125rem,
    4: 1.563rem,
    3: 1.953rem,
    two: 2.441rem,
    one: 3.052rem,
);

// this was from a tutorial
// $type-scale: (
//   small:(
//     300: 1rem,
//     400: 1.125rem,
//     500: 1.563rem,
//     600: 1.953rem,
//     700: 2.441rem,
//     800: 3.052rem,
//   ),
//   large:(
//     300: 1rem,
//     400: 1.425rem,
//     500: 2rem,
//     600: 2.827rem,
//     700: 4rem,
//     800: 5.653rem,
//   )
// );

