@use '../../abstracts/index'as *;
@use '../../base/index'as *;

.equipment-and-tech {
  .anchor-nav {
    margin-bottom: 3rem;
    text-align: center;

    ul li {
      display: inline-flex;
      list-style: none;
      @extend h5;

      &::after {
        padding: 0 1rem;
        @extend h6;
        content: "|";
      }

      &:last-of-type::after {
        content: inherit;
        padding-right: 0;
      }

      a {
        text-decoration: none !important;
        padding-bottom: 0.25rem;

        &:hover,
        &:focus {
          text-decoration: none !important;
          box-shadow: 0 4px 0px 0px $uva-brand-orange;
        }
      }
    }
  }

  .et-top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 256px);
    gap: 2rem;
    max-width: 80%;
    margin: 3rem auto;

    .et-block {
      .et-url {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: center;
        border: 1px solid $uva-grey-100;
        text-decoration: none;
        height: 256px;

        &:hover h3 {
          text-decoration: underline;
        }

        &:hover,
        &:focus {
          box-shadow: 0px 0.75rem 0px 0px $uva-blue-alt-A inset;
          background-size: 72%;
          background-position: 5rem 1.75rem;
          background-repeat: no-repeat;
          // background-color: $uva-blue-alt-400;
          background-clip: content-box;
          // background-blend-mode: soft-light;

          &.et-electronics {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/gear--uva-blue-alt-400.svg');
            content: "calcifer-kitty";
          }

          &.et-3D-print {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/cube--uva-blue-alt-400.svg');
          }

          &.et-textile {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/reel--uva-blue-alt-400.svg');
          }

          &.et-audio {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/headphones--uva-blue-alt-400.svg');
          }

          &.et-video {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/video--uva-blue-alt-400.svg');
          }

          &.et-3D-scan {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/viewfinder--uva-blue-alt-400.svg');
          }

          &.et-vr {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/vr-cardboard--uva-blue-alt-400.svg');
          }

          &.et-doc {
            background-image: url('/themes/uvalib-drupal-theme/assets/svg-icons/scanner--uva-blue-alt-400.svg');
          }

          .et-icon {
            transform: rotate(90deg);
            background-color: $uva-blue-alt-A;

            svg {
              fill: white;
              transform: rotate(-90deg);
            }

          }
        }
      }

      .et-block-contents {
        padding: 2.5rem 1.5rem 0.5rem 1.5rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;

        div {
          display: block;
          height: 56px;
          width: 56px;
          background-color: $uva-blue-alt-300;
          // background-color: $uva-yellow;
          padding-top: 0.678rem;
          border-radius: 0.3rem;
          transform: rotate(45deg);
          transition: transform .7s ease-in-out;

          &.et-icon {
            svg {
              width: 2rem;
              height: 2rem;
              // fill: $uva-blue-alt-A;
              fill: $uva-brand-blue;
              transform: rotate(-45deg);
              transition: transform .7s ease-in-out;
            }
          }
        }
      }

      .et-title {
        @extend h5;
        margin-top: 1rem;
      }

      // .et-copy {}

      p {
        color: $uva-text-color-base;
        display: inline-block;
        text-decoration: none !important;

        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }

  //mid sections
  .et-mid-section,
  .et-bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  #Equipmentandtechnology-Software {
    margin-top: 3rem;
  }

  .et-has-header {
    margin-top: 1rem;
  }

  .et-events {
    h3 {
      margin-bottom: 2rem;
    }
  }

  .et-bottom-section {

    h4,
    h5 {
      margin-top: 1.5rem;
      margin-bottom: 0.75rem;
    }
  }
}

@media (max-width:992px) {

  .anchor-nav {
    ul {
      padding: 0;
      margin: 0;

      li {
        display: inline-flex;
        list-style: none;

        &::after {
          padding: 0 !important;
          content: " " !important;
        }

        a {
          text-decoration: underline !important;
          font-weight: 500 !important;
          // a hack to bring back the underline
          box-shadow: 0 2px 0px 0px $uva-blue-alt-A;

          &:hover {
            text-decoration: none !important;
            box-shadow: 0 0rem 0px 0rem #fff;
          }
        }
      }
    }
  }

  .et-top-container,
  .et-mid-section,
  .et-bottom-section {
    grid-template-columns: 1fr !important;
  }

  .et-top-container {
    max-width: 100% !important;
  }
}
