@use '../../abstracts/index'as *;
@use '../../base/index'as *;

.rp-using {

  // temporary
  h2 em {
    font-size: 16px;
    padding: 2rem 0;
  }

  .virgo-search-header {
    margin-top: 2rem;
    margin-bottom: 1rem !important;
  }

  .virgo-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    form {
      width: 80vw;
      height: 55px;
      display: flex;
      margin-bottom: 1rem;
      text-align: center;

      input {
        flex: 1;
        border: 1px solid #fff;
        text-indent: 1rem;
        border-radius: 0.3rem 0 0 0.3rem;

      }

      button {
        background-color: $uva-blue-alt;
        // padding: 10px 12px;
        padding: 10px 50px;
        color: #fff;
        letter-spacing: 1px;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 0 0.3rem 0.3rem 0;

        &:hover {
          background-color: $uva-blue-alt-A;
        }
      }
    }
  }

  .using-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    .u-f-n,
    .u-c-r,
    .u-d-j,
    .u-s-j,
    .u-m-r {
      background-color: $uva-blue-alt-400;
      padding: 1.25rem;

      h3,
      h4 {
        margin-bottom: 1rem;
      }
    }

    .u-f-n {
      grid-area: 1 / 1 / 2 / 2;
    }

    .u-c-r {
      grid-area: 1 / 2 / 2 / 3;
    }

    .u-d-j {
      grid-area: 2 / 1 / 3 / 3;
    }

    .u-s-j {
      grid-area: 1 / 3 / 3 / 4;

      h4 {
        margin-top: 1.5rem;
      }
    }

    .u-m-r {
      grid-area: 3 / 1 / 4 / 4;
    }
  }

  .n-t-header {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .neighborhood-teaser {
    display: grid;
    grid-template-columns: .5fr 1fr;
    margin-bottom: 3rem;

    .n-t-img {
      background-color: $uva-grey-100;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .n-t-frame {
      display: grid;
      grid-template-rows: 4rem 1fr;
      border: 1px solid $uva-grey-100;

      .n-t-title {
        padding-left: 2rem;
        align-self: end;
      }

      .n-t-contents {
        display: grid;
        grid-template-columns: 1fr 1fr 0.25fr;
        gap: 2rem;
        padding: 2rem;


        div:last-of-type {
          display: grid;

          a {
            width: 2rem;
            height: 2rem;
            align-self: end;
            justify-self: end;
            content: $icon-arrow-right;

            &:hover {
              background-color: $uva-blue-alt-100;
              border-radius: 50%;
              transition: none;
            }
          }
        }
      }
    }
  }



  @media (max-width:992px) {
    .virgo-search-header {
      margin-top: 1rem;
    }

    .virgo-search {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      width: 100%;

      form {
        width: 100%;
        height: 55px;
        display: flex;
        margin-bottom: 1rem;
        text-align: center;

        button {
          padding: 10px 0.5rem;
        }
      }
    }

    .using-top {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 0.5fr 1fr 1.5fr 1.25fr !important;
      grid-row-gap: 1.5rem;

      .u-f-n,
      .u-c-r,
      .u-d-j,
      .u-s-j,
      .u-m-r {
        grid-area: auto;
      }
    }

    .neighborhood-teaser {
      grid-template-columns: 1fr !important;
      margin-bottom: 3rem !important;

      // temporary image height 
      .n-t-img {
        height: 276px;
      }

      .n-t-frame {
        grid-template-rows: max-content;

        .n-t-title {
          padding-top: 1rem !important;
          padding-left: 1rem !important;
          padding-right: 0.5rem !important;
        }

        .n-t-contents {
          padding: 2rem 1rem !important;
          grid-template-columns: 1fr !important;
          grid-template-rows: 1fr 1fr 0.25fr !important;
        }

        div:last-of-type {
          a {
            align-self: center !important;
            justify-self: center !important;
          }
        }
      }
    }
  }
}
