@use '../mixins/index'as *;
@use '../base/index'as *;
.anchor-nav {
  margin-bottom: 3rem;
  text-align: center;
  
  // &::after {
  //   border-bottom: 1px solid green;
  //   content: " ";
  //   margin-left: -1000px;
  //   margin-right: -1000px;
  //   display: flex;
  // }

  ul li {
    display: inline-flex;
    list-style: none;
    @extend .h5;

    &::after {
      padding: 0 1rem;
      @extend .h6;
      content: "|";
    }

    &:last-of-type::after {
      content: inherit;
      padding-right: 0;
    }

    a {
      text-decoration: none !important;
      padding-bottom: 0.25rem;

      &:hover,
      &:focus {
        text-decoration: none !important;
        box-shadow: 0 4px 0px 0px $uva-brand-orange;
      }
    }
  }
}

@media (max-width:992px) {

  .anchor-nav {
    // &::after {
    //   // border-bottom: 1px solid green;
    //   margin-left: 0px;
    //   margin-right: 0px;
    //   display: inherit;
    // }
    ul {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 0;
      margin: 0;

      li {
        display: inline-flex;
        list-style: none;

        &::after {
          padding: 0 !important;
          content: " " !important;
        }

        a {
          text-decoration: underline !important;
          font-weight: 500 !important;
          // a hack to bring back the underline
          box-shadow: none;

          &:hover {
            text-decoration: none !important;
            box-shadow: 0 0rem 0px 0rem #fff;
          }
        }
      }
    }
  }
}
