@use '../abstracts/index'as *;
@use '../base/index'as *;

.bookplates {
  .bookplate-entry {
    .views-row {
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;
      justify-content: start;
      margin-bottom: 2rem;
      border-bottom: 1px solid $uva-grey-100;
      padding-bottom: 2rem;

      .entry-image {
        max-width: 175px;
        // aligns the alt text in case image is missing 
        text-align: center;
      }
    }
  }

  @media (max-width:992px) {
    .views-row {
      flex-direction: column !important;
      align-items: center !important;

      .entry-image {
        max-width: 100% !important;

        img {
          object-fit: cover !important;
        }
      }
    }
  }
}
