@use '../mixins/index'as *;
@use '../base/index'as *;


.event-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;

  .event {
    .event-url {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $uva-grey-200;
      padding: 1.5rem;
      text-decoration: none;
      height: 12rem;
      text-align: center;

      &:hover h4 {
        text-decoration: underline;
      }
    }

    .event-title {
      @extend .h6;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 0.75rem;
      order: 1;
    }

    .event-date, 
    .event-time {
      font-size: 0.95rem;
      padding-bottom: 0.5rem;
    }

    .event-time {
      order: 2;
    }
    .event-date {
      order: 3;
    }

    p {
      display: inline-block;
      text-decoration: none !important;

      &:hover {
        text-decoration: none !important;
      }
    }

  }
}

.events-see-all {
  margin-top: 2rem;
  margin-bottom: 2rem;
  float: right;
}

@media (max-width:992px) {
  .event-container {
    grid-template-columns: 1fr;
  }
}
