@use '../mixins/index'as *;
@use '../base/index'as *;

/// Pre-footer
#footer-container {
  background-color: $uva-blue-alt-lightest;
  width: 100%;

  .footer-container-inner .first-footer {
    width: 100%;

    &>div {
      line-height: 1;
      padding: 0 !important;
    }
  }

  p {
    background-color: $uva-blue-alt-lightest;
    padding-block-end: 0rem;
    text-align: center;
    margin-top: -10px;

    a {
      &::after {
        padding-left: 0.25rem;
        @include svg-base;
        content: $icon-external-link;
      }
    }
  }

}

/// Main Footer
#footer-menu {
  background-color: $uva-brand-blue-base;
}

#footer-menu-inner {
  li {
    list-style: none;
    padding-block-start: 0.5rem;
  }

  div {
    display: flex;
    flex-wrap: nowrap;

    section div {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: flex-start;
      padding-inline-start: 2rem;
      padding-block-start: 0.5rem;

      ul,
      p {
        padding-left: 0;
        text-align: left;
      }

      h2 {
        @include h4;
      }

      h2,
      p,
      a {
        color: #fff !important;
      }

      .contextual-links a {
        color: $uva-text-color-dark !important;
      }
    }
  }
}

/// Post-footer
.footer-box.third-footer {
  background-color: $uva-blue-alt-darkest;
  width: 100%;
  padding-block: 1em;
  padding-inline-start: 1em;

  section.w3-block div {
    display: inline-flex;
    gap: 1.5rem;

  }

  .post-footer {
    p {
      color: #fff !important;
    }
  }
}

@media (max-width:992px) {
  #footer-menu-inner {
    div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .footer-container-inner .first-footer {
    margin-top: 1rem !important;
  }

  #footer-menu-inner div section div {
    padding-inline-start: 0.5rem;
  }
}
