@use '../mixins/index'as *;
@use '../base/index'as *;

/// Pre-footer
.footer--pre {
  display: inline-block;
  background-color: $uva-blue-alt-300;
  width: 100%;
  p {
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
  }
}

/// Main Footer
.footer--main {
  background-color: $uva-brand-blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
  
  &>div {
    width: 300px;
  }
  .field__item * {
    color: #fff !important;
  }
  .content {
    display: flex;
    justify-content: space-around;
    h2 {
      @extend h4;
      &:last-of-type {
        color: #fff !important;
      }
    }
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    .social-media {
      display: flex;
      a {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        margin-right: 1rem;
        fill: #fff;
        &:hover,
        &:focus {
          fill: $uva-brand-orange;
        }
      }
    }
  }
}

/// Post-footer
.footer--post {
    background-color: $uva-blue-alt-B;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 1rem 2rem;
  

  .field--name-body {
    display: inline-flex;
    gap: 1.5rem;
  }
  .post-footer {
    p {
      color: #fff !important;
    }
  }
}

@media (max-width:992px) {
  .footer--main {
    .content {
      display: flex;
      justify-content:left !important;
      padding: 1rem;
    }
  }

}
