.layout__region--second {
  padding-left: 2rem;

  @media (max-width:992px) {
    padding-left: inherit;
  }
}

// removing bullets from sub-nav lists
.field--name-field-subnav {
  ul li {
    list-style: none;
  }
}
