@use '../base/index'as *;

///Amount of spacing between the sidebar and the main content - 
/// increasing this decreases the width of the sidebar 
.layout__region--first {
  padding-right: 3.5rem;
  @media screen and (min-width: #{$sm}) {
    padding-right: 0;
    // background-color: blueviolet;
  }
  @media screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}), screen and (min-width: #{$lg}) {
    padding-right: 3.5rem;
    // background-color:yellow;
  }
  @media screen and (max-width: #{$md}) {
    padding-right: inherit;
    // background-color: seagreen;
  }
}

// removing bullets from sub-nav lists
.field--name-field-subnav {
  ul li {
    list-style: none;
  }
}

//trying to force the sidebar to stay between 993px and 1086px
// @media screen and (width: #{$lg-adjusted}) {
@media screen and (max-width: #{$lg-adjusted}) and (min-width: #{$desktop}) {
  article {
    .layout--twocol-section--67-33 {
      .layout__region--first {
        flex: 0 1 67% !important;
        // outline: 1px solid red;
      }
      .layout__region--second {
        flex: 0 1 33% !important;
        // outline: 1px solid blue;
      }
    }
  }

  /* Styles for desktop screens go here */
  .not-mobile {
    display: inherit;
  }

  .mobile-only {
    display: none;
  }
}

@media screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
  article {
    .layout--twocol-section > .layout__region {
      flex: 0 1 100% !important;
    }
  }

  /* Styles for tablet screens go here */
  .not-mobile {
    display: inherit;
  }

  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: #{$mobile}) {

  /* Styles for mobile screens go here */
  .not-mobile {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }
}
