@use '../base/index'as *;

///Amount of spacing between the sidebar and the main content - 
/// increasing this decreases the width of the sidebar 

//TWO COLUMN LAYOUT -  WRAPPING
.layout--twocol-section {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: 3fr 1fr !important;
  gap: 2rem;
  // outline: 1px solid blue;
}

.layout--twocol-section > .layout__region {
  // flex: 0 1 100%;
  // outline: 1px solid red;
}

@media screen and (min-width: 40em) {
  // .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--first,
  // .layout--twocol-section.layout--twocol-section--50-50 > .layout__region--second {
  //   flex: 0 1 50%;
  //   outline: 12px solid orange;
  // }

  .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--second {
    // flex: 0 1 33%;
    flex: initial;
    // outline: 12px solid green;
  }

  .layout--twocol-section.layout--twocol-section--33-67 > .layout__region--second,
  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--first {
    // flex: 0 1 67%;
    flex: initial;
    // outline: 12px solid darkmagenta;
  }

  // .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--first,
  // .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--second {
  //   flex: 0 1 25%;
  //   outline: 12px solid yellowgreen;
  // }

  // .layout--twocol-section.layout--twocol-section--25-75 > .layout__region--second,
  // .layout--twocol-section.layout--twocol-section--75-25 > .layout__region--first {
  //   flex: 0 1 75%;
  //   outline: 12px solid indigo;
  // }
}

@media screen and (max-width: #{$tablet-max}) {
  .layout--twocol-section {
    grid-template-columns: 1fr !important;
  }
}

.uvalib-col--first {
  // padding-right: 3.5rem;
  @media screen and (min-width: #{$sm}) {
    // padding-right: 0;
    // background-color: blueviolet;
  }
  @media screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}), screen and (min-width: #{$lg}) {
    // padding-right: 3.5rem;
    // background-color:yellow;
  }
  @media screen and (max-width: #{$md}) {
    // padding-right: inherit;
    // background-color: seagreen;
  }
}
.uvalib-col--second {
  background-color: aliceblue;
  min-width: 10rem;
}







// removing bullets from sub-nav lists
.field--name-field-subnav {
  ul li {
    list-style: none;
  }
}

//trying to force the sidebar to stay between 993px and 1086px
// @media screen and (width: #{$lg-adjusted}) {
@media screen and (max-width: #{$lg-adjusted}) and (min-width: #{$desktop}) {
  article {
    .layout--twocol-section--67-33 {
      .layout__region--first {
        flex: 0 1 67% !important;
        // outline: 1px solid red;
      }
      .layout__region--second {
        flex: 0 1 33% !important;
        // outline: 1px solid blue;
      }
    }
  }

  /* Styles for desktop screens go here */
  .not-mobile {
    display: inherit;
  }

  .mobile-only {
    display: none;
  }
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) {
  // article {
  //   .layout--twocol-section > .layout__region {
  //     flex: 0 1 100% !important;
  //   }
  // }

  /* Styles for tablet screens go here */
  .not-mobile {
    display: inherit;
  }

  .mobile-only {
    display: none;
  }
}

@media screen and (max-width: #{$mobile}) {
  .two-col {
    display: grid;
    grid-template-columns: 1fr;
  }

  /* Styles for mobile screens go here */
  .not-mobile {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }
}
