@use '../abstracts'as *;
@use '../base/'as *;

#header {
  background-color: #ffffff !important;
  border-bottom: 5px solid $brand-blue-base;

  .header-inner {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;

    .utility-nav {
      align-self: flex-end;

      .w3-button {
        &:hover {
          background-color: white !important;
        }
      }

      ul li {
        &:last-child {
          display: flex;

          a {
            padding-left: .35em;
          }

          &::before {
            @include svg-base;
            content: $icon-bell;
          }
        }
      }
    }
  }

  .main-nav {
    font-weight: 500;

    ul li {
      background-color: white;
    }

    a {
      // color: map-deep-get($colors, brand-blue, base);
      text-decoration: none !important;
    }
  }

  // this is the drupal login buttons
  .drupal-utility-nav ul li {
    background-color: yellow;
    color: black;
  }
}

#block-uvalibrary-branding {
  margin-top: -40px
}

a.site-logo {
  text-decoration: none !important;

  img {
    max-width: 225px;
  }
}
