@use '../abstracts/index'as *;
@use '../base/index'as *;

#header {
  background-color: #ffffff !important;
  border-bottom: 5px solid $uva-brand-blue-base;

  .header-inner {
    @include flex-start;
  }

  .utility-nav {
    align-self: flex-end;

    ul li {
      &:last-child {
        display: flex;

        a {
          padding-left: .35em;
        }

        &::before {
          @include svg-base;
          content: $icon-alert;
        }
      }
    }
  }

  .main-nav {
    font-weight: 500;

    ul {
      li {
        //dropdown nav background
        background-color: white;
      }

      li[class~="li-parent"] {
        // &:hover::after {
        //   content: 'test';
        //   color: teal !important;
        // }

        a {
          text-decoration: none !important;
        }
      }


      &[class~="ul-child"] li {
        a {
          text-decoration: underline !important;

          &:hover {
            text-decoration: none !important;
          }
        }
      }
    }
  }

  li.li-item.li-item-main.li-expanded.li-parent {
    color: teal !important;

    a {
      &:hover {
        background-color: $uva-grey-light;
      }
    }
  }

  // this is the drupal login buttons
  .drupal-utility-nav ul li {
    background-color: $uva-teal-base;
    color: black;
  }

  // .w3-button:hover {
  //   // @include menu-link-default;
  //   color: $text-color-dark !important;
  //   background-color: green !important;
  // }
}

#block-uvalibrary-branding {
  margin-top: -40px
}

a.site-logo {
  text-decoration: none !important;

  img {
    max-width: 225px;
  }
}
