.home-page {
  h1 {
    display: none;
  }

  .home-collections {
    margin-top: -48px;
    margin-bottom: 3rem;
    position: relative;

    .home-collections-image {
      width: 100vw;
      max-width: 1360px;
      margin-inline-start: 50%;
      transform: translateX(-50%);
    }

    .home-collection-virgo {
      position: absolute;
      top: 20%;
      left: 30%;
      text-align: center;
      z-index: 1000;

      form {
        margin-bottom: 1rem;
        width: 100%;

        input {
          width: 80%;
        }
      }

      div {
        background-color: #fff;
        padding: .5rem;
      }
    }

    .home-collections-url {
      text-align: right;
      margin-right: 3vw;
    }
  }

  // using the library section
  .home-using-block {
    padding: 2rem;

    h2 {
      grid-area: header;
    }

    .search-borrow-request,
    .teaching-and-publication,
    .using-spaces,
    .equipment-tech {
      padding: 1rem;
      background-color: lightcoral;
    }

    .search-borrow-request {
      grid-area: sbr;
    }

    .teaching-and-publication {
      grid-area: tp;
    }

    .using-spaces {
      grid-area: us;
    }

    .equipment-tech {
      grid-area: et;
    }

    .utl-link {
      grid-area: link;
      justify-self: end;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header"
    "sbr sbr sbr"
    "tp us et"
    ". . link";
    grid-template-rows: auto;
    gap: 1rem;


    a:hover {
      background-color: lightblue;
    }
  }

}

// home-collections-image
