@use '../abstracts/index'as *;
@use '../base/index'as *;

.main-nav {
  background-color: #ffffff !important;
  font-weight: 500;

  ul {
    li {
      //dropdown nav background
      background-color: white;
    }

    li[class~="li-parent"] {
      // &:hover::after {
      //   content: 'test';
      //   color: teal !important;
      // }

      a {
        text-decoration: none !important;
      }
    }


    &[class~="ul-child"] li {
      font-weight: 400;

      a {
        text-decoration: underline !important;

        &:hover {
          text-decoration: none !important;
        }
      }
    }
  }
}

.utility-nav {
  align-self: flex-end;

  ul li {
    &:nth-child(5) {
      // &:last-child {
      display: flex;

      a {
        padding-left: .35em;
      }

      &::before {
        @include svg-base;
        content: $icon-alert;
        margin-left: 1rem;
      }
    }

    &:nth-child(6) {
      display: flex;

      a {
        padding-left: .35em;
      }

      &::before {
        @include svg-base;
        content: $icon-search;
        margin-left: 1rem;
      }
    }
  }
}

li.li-item.li-item-main.li-expanded.li-parent {
  color: $uva-text-color-dark !important;

  a {
    span {
      color: $uva-text-color-dark !important;
    }

    &:hover {
      background-color: $uva-grey-light;
    }
  }
}

.mobile-nav {
  display: none;
}

@media (max-width:992px) {
  nav.main-nav {
    display: none;
  }

  .utility-nav {
    display: none;
  }

  nav.mobile-nav {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 500;

    .ul-parent {
      li {

        &:nth-last-child(-n+6) {
          background-color: $uva-blue-alt-400;
          width: max-content;
          float: initial;
        }

        .dropdown-arrow {
          color: $uva-text-color-dark;
        }
      }
    }

    ul.ul-child {
      li {
        outline: none !important;
        width: 100% !important;
        background-color: #fff !important;
        font-weight: 100 !important;
      }
    }
  }


}
