@use '../abstracts/index'as *;
@use '../base/index'as *;
@use '../components/buttons'as *;

.main-navigation-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 0;
  border-bottom: 5px solid $uva-brand-blue-base;
}

#uvalibrary-nav {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
  color: $uva-brand-blue;
  font-weight: map-get($font-weights, medium);
}

#uvalibrary-nav li {
  white-space: nowrap;
  display: block;
  padding: 11.5px 1rem;
  margin: 0;
}

#uvalibrary-nav>li {
  float: left;
  background-color: #fff;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: none;

  // the pointer arrows
  span {
    &::after {
      content: "";
      display: inline-block;
      border-bottom: 1px solid $uva-brand-blue;
      border-right: 1px solid $uva-brand-blue;
      height: 0.5em;
      margin-left: 0.75em;
      width: 0.5em;
      transform: rotate(45deg);
    }
  }
}

#uvalibrary-nav li:hover,
#uvalibrary-nav li:focus {
  background-color: $uva-grey-100;
  color: $uva-brand-blue;
  text-decoration: underline;
}

//the dropdowns
#uvalibrary-nav>li>ul {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: max-content;
  text-align: left;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  color: $uva-brand-blue;
  font-weight: map-get($font-weights, book);

  a {
    color: $uva-brand-blue;
  }

  li:focus,
  li:hover {
    background-color: $uva-grey-100;
  }
}

#uvalibrary-nav>li[aria-expanded="true"]>ul {
  display: block;
  z-index: 1000;
}

.utility-nav {
  // display: flex;
  justify-self: end;

  ul li {
    &:nth-child(5) {
      display: flex;

      a {
        padding-left: .35em;
      }

      &::before {
        @include svg-base;
        content: $icon-alert;
        margin-left: 1rem;
      }
    }

    &:nth-child(6) {
      display: flex;

      a {
        padding-left: .35em;
      }

      &::before {
        @include svg-base;
        content: $icon-search;
        margin-left: 1rem;
      }
    }
  }
}

.mobile-nav,
.open-nav-inner {
  display: none;
}

@media (max-width:992px) {
  body {
    position: relative;
  }

  #main-navigation-v {
    height: fit-content;
    position: absolute !important;
    right: 0;
    top: 0;
  }

  nav.main-nav {
    display: none;
  }

  .utility-nav {
    display: none;
  }

  .open-nav-inner {
    display: inline-block !important;
  }

  .main-navigation-wrapper.w3-sidebar {
    right: 0;
  }

  #main-navigation-v {
    #close-nav {
      justify-content: end;
    }

    .ul-parent {
      display: block;
      text-align: center;

      li:nth-child(9) {
        border-bottom: 3px solid $uva-brand-blue;
      }

      li:not(.li-expanded) {
        text-decoration: underline;
        color: $uva-grey-A;

        &:nth-child(n+6) {
          background-color: $uva-blue-alt-300;

          a {
            padding: 0.25rem 1rem;
          }
        }

        &:first-child {
          background-color: #fff;
          float: left !important;
          padding: initial;
          border: none;

          a {
            padding: 0 0.75rem;
            color: $uva-grey-B;
          }

        }
      }

      .li-parent ul li {
        box-shadow: none;
      }
    }
  }

  nav.mobile-nav {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: map-get($font-weights, medium);

    .ul-parent {
      li {
        .dropdown-arrow {
          color: $uva-brand-blue;
        }
      }
    }

    ul.ul-child {
      li {
        outline: none !important;
        width: 100% !important;
        background-color: #fff !important;
        font-weight: map-get($font-weights, book) !important;
      }
    }
  }
}
