@use '../abstracts/index'as *;
@use '../base/index'as *;

@media (max-width:992px) {
  body {
    position: relative;
  }

  #main-navigation-v {
    height: fit-content;
    position: absolute !important;
    right: 0;
    top: 0;
  }

  nav.main-nav {
    display: none;
  }

  .utility-nav {
    display: none;
  }

  .open-nav-inner {
    display: inline-block !important;
  }

  .main-navigation-wrapper.w3-sidebar {
    right: 0;
  }

  #main-navigation-v {
    border-top: 2px solid $uva-grey-100;
    border-left: 2px solid $uva-grey-100;
    border-bottom: 2px solid $uva-grey-100;
    padding: 0 1rem;

    #close-nav {
      justify-content: end;
    }

    .mainlibrary-nav {
      flex-direction: column;
      list-style-type: none;
      padding: 0;

      li {
        &:last-child {
          margin-bottom: 0;
        }
      }

      li:nth-child(5) {
        border-bottom: 3px solid $uva-brand-blue;
      }

      li:not(.li-expanded) {
        text-decoration: underline;
        color: $uva-grey-A;

        &:nth-child(n+6) {
          background-color: $uva-blue-alt-300;
          padding: 0.25rem 0.75rem;

          a {
            // padding: 0.25rem 1rem;
          }
        }

        &:first-child {
          display: contents;
          // background-color: #fff;
          float: left !important;
          padding: initial;
          border: none;

          a {
            color: $uva-brand-blue;
            // padding: 0.25rem 1rem;
          }

        }
      }

      .menu-list-parent ul li {
        box-shadow: none;
      }
    }
  }

  nav.mobile-nav {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: map-get($font-weights, medium);

    .mainlibrary-nav {
      li {
        .dropdown-arrow {
          color: $uva-brand-blue;
        }
      }
    }

    ul.sub-menu-container {
      border-bottom: 0px;
      list-style-type: none;
      padding: 0;

      li {
        outline: none !important;
        width: 100% !important;
        background-color: #fff !important;
        font-weight: map-get($font-weights, book) !important;
      }
    }
  }
}